
# Created by https://www.toptal.com/developers/gitignore/api/jekyll
# Edit at https://www.toptal.com/developers/gitignore?templates=jekyll

### Jekyll ###
Gemfile.lock
package-lock.json
_site/
vendor/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
.icloud
.DS_Store
*.gem
*.rb

# End of https://www.toptal.com/developers/gitignore/api/jekyll

# Local Netlify folder
.netlify
node_modules/
