<!-- About -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].about.title | default: "About Us" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].about.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">{{ site.data.sitetext[site.locale].about.body | markdownify }}</div>
      </div>
    </div>
    <div class="row">
    	<div class="col-lg-6 col-sm-12">
    		<img src="{{ "/assets/img/about/image1.jpg" | relative_url}}" alt="about" class="img-fluid">
    	</div>
    	<div class="col-lg-6 col-sm-12">
    		<img src="{{ "/assets/img/about/image2.jpg" | relative_url}}" alt="about" class="img-fluid">
    	</div>
    	<div class="col-lg-6 col-sm-12">
    		<img src="{{ "/assets/img/about/image3.jpg" | relative_url}}" alt="about" class="img-fluid">
    	</div>
    	<div class="col-lg-6 col-sm-12">
    		<img src="{{ "/assets/img/about/image4.jpg" | relative_url}}" alt="about" class="img-fluid">
    	</div>
    </div>
  </div>
</section>
<!-- End About -->
