<section class="faq " id="faq">
<!--faq-->
  <div class="fac_answers wrap_section">
    <h1 style="text-align:center">{{site.data.faq.b_title}}</h1>
    <hr>
    <p class="text-center faq_intro">{{site.data.faq.intro}}</p>

    <div class="panel-group" id="accordion">
      {% assign count = 0 %}
      {% for item in {{site.data.faq.items}} %}
      {% assign count = count | plus: 1 %}
      <div class="card">
        <div class="card-header">
          <a class="card-link collapsed" data-toggle="collapse" href="#collapse{{count}}">
            {{item.question}} <i class="fas fa-angle-down rotate-icon"></i>
          </a>
        </div>
        <div id="collapse{{count}}" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <p>{{item.answer}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

</section>