<head>
  <!-- Robots -->
  {% if page.noindex %}
  <META NAME="ROBOTS" CONTENT="NOINDEX,FOLLOW"/>
  {% endif %}
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- netlify -->
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% if site.analytics.google %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.analytics.google }}");
  </script>
  <!-- End Google Analytics -->
  {% endif %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <!-- SEO -->
  <meta name="yandex-verification" content="68a680fb08fc5c4f" />
  <meta name="msvalidate.01" content="D927D4DCA9938C1F2F92C3D5D6AC8BDF" />
      <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "WebSite",
      "name": "Lyons Behavioral Services",
      "url": "https://www.lyonsbehavioralservices.com/",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>
    <!-- person -->
    <script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "name": "Montgomery Lyons",
    "url": "https://www.lyonsbehavioralservices.com/",
    "image": "https://www.lyonsbehavioralservices.com/assets/img/team/lyons-linkedin.jpg",
    "sameAs": "https://www.linkedin.com/in/montgomery-lyons-69b034199/",
    "jobTitle": "Clinical Psychologist",
    "worksFor": {
      "@type": "Organization",
      "name": "https://www.lyonsbehavioralservices.com/"
    }
  }
  </script>
  <!-- Business -->
    <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Lyons Behavorial Services",
    "image": "https://www.lyonsbehavioralservices.com/assets/img/team/lyons-linkedin.jpg",
    "@id": "",
    "url": "https://www.lyonsbehavioralservices.com/",
    "telephone": "+16072808241",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "416 N. Tioga St.",
      "addressLocality": "Ithaca",
      "addressRegion": "NY",
      "postalCode": "14850",
      "addressCountry": "US"
    } ,
    "sameAs": [
    "https://goo.gl/maps/wzcTwDqzwWAUU2CB8",
    "https://www.linkedin.com/in/montgomery-lyons-69b034199/"
    ]
  }
  </script>

  <!-- canonical -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <title>{% if page.title %}{{ page.title | append: " | " | append: site.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Custom fonts for this template -->
  <link href="assets/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this theme -->
  <!--<link href="assets/css/agency.min.css" rel="stylesheet">-->
  <link href="assets/css/agency.css" rel="stylesheet" />

  <!-- Page container change top padding when nav shrinks -->
  {% if page.layout == "page" %}
  <style>
    #pagecontainer {
      padding-top: 150px;
    }
    @media only screen and (max-width: 991px) {
      #pagecontainer {
        padding-top: 100px;
      }
    }
  </style>
  {% endif %}
</head>
