  <section class="py-5" id="{{ clients.section }}">
    <div class="container">
      <div class="row justify-content-center" id="scrolling-clients">
	    {% for client in clients.list %}
        <div class="col-md-3 col-sm-6">
          <a href="{{ client.url }}">
            <img class="img-fluid d-block mx-auto" src="{{ client.logo }}" 
            alt="{{ client.title }}" style="max-height: 100px">
          </a>
        </div>
	    {% endfor %}
      </div>
    </div>
  </section>