<header class="masthead">
<div class="container">
<div class="masthead-subheading">{{header.title}}</div>
<div class="masthead-heading text-uppercase">{{header.text}}</div>
<a class="btn btn-primary btn-xl text-uppercase" href="{{header.buttonlink}}">{{header.button}}</a>
</div>
</header>