        <section class="page-section" id="{{services.section}}">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">{{services.title}}</h2>
                    <h3 class="section-subheading text-muted">{{services.text}}</h3>
                </div>
                <div class="row text-center">{% for s in services.list %}
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-{{s.icon}} fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">{{s.title}}</h4>
                        <p class="text-muted">{{s.desc}}</p>
                    </div>{% endfor %}
                </div>
            </div>
        </section>