.faq {
  padding: 100px 0 70px;
  height: max-content;

  .fac_answers {
    padding: 10px 50px;
    h2 {
      font-size: 42px;
    }
  }
  .faq_intro {
    margin: 20px 0 45px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.44;
  }
  #accordion {
    width: 100%;
  }
  .card {
    margin-bottom: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-box-shadow: 5px 2px 10px #ebebeb;
    box-shadow: 5px 2px 10px #ebebeb;
    .card-link {
      display: flex;
      justify-content: space-between;
    }
    .card-header {
      color: #fff;
      background: #009ba8;
      border-radius: 10px;
      a {
        color: #fff;
      }
    }
    .card-header:has(> a.collapsed) {
      border-radius: 10px 10px 0 0;
    }
  }
  .card-body {
    .arrow {
      margin: 0 15px 0 auto;
      transform: rotate(90deg);
      font-size: 24px;
      font-weight: 600;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
    }
    .top {
      transform: rotate(-90deg);
      font-size: 24px;
      font-weight: 600;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
    }
  }
}
#accordion .card .card-header a:not(.collapsed) .rotate-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
