---
permalink: /humans.txt
layout: false
eleventyExcludeFromCollections: true
date: Last Modified
---

/* WHO */

  Adam DJ Brett
  Website: adamdjbrett.com
  
  From: Syracuse, NY, USA

/* THANKS */

  Eleventy Creator: Zachleat
  Twitter: @zachleat

  Theme Developer: Creative By Dre
  web: creativitas.dev
  about: Dre ported and modified the theme for Eleventy.

/* Credits */

  Static Site Generator: Eleventy
  Website: 11ty.dev

  Eleventy Base Blog Starter Project
  Website: https://github.com/11ty/eleventy-base-blog

  Start Bootstrap Agency Theme
  Website: https://startbootstrap.com/theme/agency

/* SITE */

	Last update: {{ page.date }}
	Language: English
    Generator: Eleventy
	Doctype: HTML5
	IDE: VS Code, Terminal
