---
permalink: /robots.txt
layout: false
eleventyExcludeFromCollections: true
---
{% for b in bots %}
User-agent: {{b}}
Disallow: /
{% endfor %}

User-agent: *
Allow: /

Sitemap: {{metadata.url}}/sitemap.xml